@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto";
    border: none;
}

html::-webkit-scrollbar{
    width: 1.0rem;
}

html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    background-color: #fff;
    border-radius: 5rem;
}
 
.background{
    background-image: url(fundo-restaurante.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 85vh;
    
} 

body{
    background-color: #000;
}

header{
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    padding-top: 1.5rem;
    align-items: center;
}

.logo img{
    width: 75px;
    height: auto;
    margin-left: 5rem;
}

.titulo-logo{
    color: #fff;
    align-items: center;
    padding-left: 80px;
    
}

ul{
    list-style: none;
    display: flex;
    gap: 3rem;
}

ul li{
    list-style: none;
}

ul li a{
    text-decoration: none;
    color: #fff;
    transition: 0.3s;
    font-size: 20px;
    border: none;
}

.C-icone{
    margin-right: 5rem;
    color: #fff;
    font-size: 2rem;
    cursor: pointer;
    padding-left: 5px;
}

/* .icone ion-icon{
    color: #fff;
    font-size: 2rem;
    cursor: pointer;
} */

ul li a:hover{
    text-transform: capitalize;
    color: rgb(101, 110, 3);
    border-bottom: solid 1px;
}
    
hr{
    border-bottom: solid 0.1px;
    color: rgb(54, 46, 46);
    margin-top: 15px;
}

.C-title{
    margin-left: 5rem;
    margin-top: 10rem;
}

.C-title h1{
    color: #fff;
    font-size: 4.8rem;

}

.C-title p{
    color: rgb(231, 208, 208);
    line-height: 2rem;
    font-size: 1.2rem;
    font-weight: 100;
}

.C-title button{
    margin-top: 2rem;
    background-color: #d3ad7f;
    color: #fff;
    font-size: 1.2rem;
    padding: 10px 15px;
    cursor: pointer;
    
}

.C-title button:hover{
    letter-spacing: 2px;
    transition: 0.3s all;
}

.section-1 h1{
    align-items: center;
    text-align: center;
    color: #ffff;
    font-size: 3rem;

}

.section-1 span{
    color: #d3ad7d;
}

.section-1{
    padding: 5rem;
}

.sobre-nos{
    display: flex;
    align-items: center;
    background-color: #13121a;
    max-width: 100%;
    width: 100%;
    margin-top: 2rem;
}

.sobre-img{
    max-width: 100%;
    width: 80ram;
    height: auto;
}

.sobre-nos-title{
    margin-left: 1.3rem;
}

.sobre-nos-title h2{
    color: #ffff;
    font-size: 2rem;   
}

.sobre-nos-title p{
    line-height: 2rem;
    padding-top: 1rem;
    font-size: 1rem;
    color: #ccc;
    width: 45rem;
}

.sobre-nos-title button{
    margin-top: 2rem;
    background-color: #d3ad7f;
    color: #fff;
    font-size: 1.2rem;
    padding: 10px 15px;
    cursor: pointer;
}

.sobre-nos-title button:hover{
    letter-spacing: 2px;
    transition: 0.3s all;
}

.section-2 h1{
    text-align: center;
    align-items: center;
    color: #fff;
    font-size: 3rem;
}



.sub-titulo-cardapio{
    color: rgb(231, 208, 208);
    line-height: 2rem;
    font-size: 1.2rem;
    font-weight: 100;
    text-align: center;
}

.section-2 span{
    color: #d3ad7f;
}

.container-card-1{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.card-img{
    border:solid 1px rgba(255, 255, 255, 3);
    padding: 2rem;
    align-items: center;
    text-align: center;
    max-width: 100%;
    width: 30rem;
    height: 23rem;  
}

.card-img img{
    width: 22rem;
    height: auto;
}

.card-img h3{
    padding-top: 10px;
    font-size: 1.3rem;
    color: #fff;
} 

.card-img p{
    color: #ccc;
    font-size: 2rem;
    margin-top: 1rem;
} 

.card-img button{
    margin-top: 1rem;
    background-color: #ccc;
    color: #fff;
    font-size: 1.2rem;
    padding: 10px 15px;
    cursor: pointer;
}

.card-img:hover{
    transform: scale(1.1);
    transition: 0.5 all;
    background-color: #0d0d0f;
} 

.btn-cardapio{
    margin-top: 0.2rem;
    background-color: #d3ad7f;
    color: #fff;
    font-size: 1.2rem;
    padding: 10px 15px;
    cursor: pointer;
    margin-left: 810px;
}

.btn-cardapio:hover{
    letter-spacing: 2px;
    transition: 0.3s all;
} 

.section-3 h1{
    align-items: center;
    text-align: center;
    color: #fff;
    font-size: 3rem;
    margin-top: 3rem;   
}

.section-3 span{
    color: #d3ad7f;
}

.section-3 p{
    color: #ccc;
    font-size: 1.0rem;
    margin-top: 1rem;
}

.c-card{
    display: flex;
    justify-content: space-evenly;
    padding-top: 2rem;
    flex-wrap: wrap;
    margin-bottom: 5rem;
}

.cards{
    border: solid 1px rgba(255, 255, 255, 3);
    padding: 1.8rem;
    max-width: 100%;
    align-items: center;
    text-align: center;
    width: 30rem;
    height: 30rem; 
    margin-top: 3rem;
} 

.cards img{
    width: 350px;
    height: 300px;
    padding-bottom: 20px;
}

.title-produtos{
    color: #ccc;
}

.section-4 h1{
    align-items: center;
    text-align: center;
    color: #ffff;
    font-size: 3rem;
    margin-top: 3rem;
}

.section-4 span{
    color: #d3ad7f;
}

.container-cliente{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    padding-top: 3rem;
    margin-bottom: 2rem;
}

.paragrafo{
    border: solid 1px rgba(255, 255, 255, .3);
    padding: 3rem;
    width: 28rem;
}

.paragrafo img{
    width: 85px;
    height: auto;
    margin-top: 1rem;
}

.paragrafo p{
    color: #ccc;
    line-height: 2rem;
    margin-top: 1rem;
}

.paragrafo h4{
    color: #fff;
    margin-top: 2rem;
    font-size: 2rem;
}

.section-5{
    padding: 0 10rem 0 10rem;
}

.section-5 h1{
    align-items: center;
    text-align: center;
    color: #fff;
    font-size: 3rem;
    margin-top: 3rem;
}

.container-form{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

form{
    background-color: #13121a;
    padding: 2rem;
    width: 50rem;
    height: auto;
}

form h3{
    text-align: center;
    color: #fff;
    font-size: 2rem;
}

.section-5 .container-form .map{
    width: 100%;
    flex: 1.45rem;
    object-fit: cover;
}

.inputform{
    display: flex;
    align-items: center;
    padding: 0 0 0 1rem;
    margin-top: 1rem;
    background: #000;
}

.inputform input{
    width: 100%;
    padding: 1.5rem;
    background: #000;
    color: #ffff;
}

.inputform span{
    font-size: 1.5rem;
    color: #fff; 
}

form button{
    margin-top: 2rem;
    background-color: #d3ad7f;
    font-size: 1.2rem;
    padding: 10px 15px;
    cursor: pointer;
    text-align: center;
    align-items: center;
    color: #fff;
}

form button:hover{
    letter-spacing: 2px;
    transition: 0.3s;
}



/* media queries  */
@media (max-width:991px){

html{
    font-size: 55%;
}

.header{
    padding:1.5rem 2rem;
}

section{
    padding:2rem;
}

}

@media (max-width:768px){

#menu-btn{
    display: inline-block;
}

.header .navbar{
    position: absolute;
    top:100%; right: -100%;
    background: #fff;
    width: 30rem;
    height: calc(100vh - 9.5rem);
}

.header .navbar.active{
    right:0;
}

.header .navbar a{
    color:var(--black);
    display: block;
    margin:1.5rem;
    padding:.5rem;
    font-size: 2rem;
}

.header .search-form{
    width: 90%;
    right: 2rem;
}

.home{
    background-position: left;
    justify-content: center;
    text-align: center;
}

.home .content h3{
    font-size: 4.5rem;
}

.home .content p{
    font-size: 1.5rem;
}

}

@media (max-width:450px){

html{
    font-size: 50%;
}

}

.copyright{
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}